<table class="table table-bordered w-100 mw-100 h-100 d-inline-block table-dark">
    <thead>
        <tr> 
            <td colspan="3"> 
                <p></p>
            </td> 
            <td><input type="button" value="c" class="btn btn-outline-success"></td> 
        </tr> 
    </thead>
    <tbody>
        <tr> 
            <td><input type="button" value="1" class="btn btn-outline-success" (onclick)="inputReceive($event)"></td> 
            <td><input type="button" value="2" class="btn btn-outline-success"></td> 
            <td><input type="button" value="3" class="btn btn-outline-success"></td> 
            <td><input type="button" value="/" class="btn btn-outline-success"></td> 
        </tr> 
        <tr> 
            <td><input type="button" value="4" class="btn btn-outline-success"></td> 
            <td><input type="button" value="5" class="btn btn-outline-success"></td> 
            <td><input type="button" value="6" class="btn btn-outline-success"></td> 
            <td><input type="button" value="*" class="btn btn-outline-success"></td> 
        </tr> 
        <tr> 
            <td><input type="button" value="7" class="btn btn-outline-success"></td> 
            <td><input type="button" value="8" class="btn btn-outline-success"></td> 
            <td><input type="button" value="9" class="btn btn-outline-success"></td> 
            <td><input type="button" value="-" class="btn btn-outline-success"></td> 
        </tr> 
        <tr> 
            <td><input type="button" value="0" class="btn btn-outline-success"></td> 
            <td><input type="button" value="." class="btn btn-outline-success"></td> 
            <td><input type="button" value="=" class="btn btn-outline-success"></td> 
            <td><input type="button" value="+" class="btn btn-outline-success"></td> 
        </tr> 
    </tbody>
</table>